# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

fabsettings.py

# Mac OS X hidden files
.DS_Store

# Vim swap files
.*.sw?

# SQlite
*.sqlite

# testing
.coverage

staticfiles/