{% load staticfiles %}

<h3>À propos de Beyond the Wall</h3>
<h5>Gregory Favre, ingénieur en informatique, geek.</h5>
<hr>
<br>
<h4>Ingénieur passionné par les technologies de l'information, je développe des sites et des applications web depuis plus de 15 ans.</h4>

<p>Durant les dernières années, j’ai réalisé de nombreuses solutions, d’une part pour mes employeurs, le CERN, puis l’EPFL, mais également en mandat pour des PME, des associations et des particuliers. J'aime partager mes connaissances, que ce soit avec mes collègues et partenaires ou devant une classe. J'aime découvrir de nouveaux horizons, comprendre les besoins et métiers de mes clients.</p>

<p>Vous êtes expert dans votre domaine, mais certains tracas administratifs ou techniques vous font perdre du temps et de l’énergie. Je peux vous aider, en développant avec vous une solution sur mesure, vous laissant ainsi le temps de vous focaliser sur ce qui compte le plus: votre métier.</p>

<p>Je m'intéresse à tous les aspects de votre projet, définissant avec vous le périmètre et les fonctionnalités souhaitées, je vous accompagne également dans les questions d'architecture de l'information et d'expérience utilisateur.</p>

<a href="{% static 'resume-Gregory-Favre.pdf' %}" class="btn btn-outline-inverse btn-lg"><span class="icon-file-pdf"></span> CV complet</a>
