{% load staticfiles %}

<h2>À propos de Beyond the Wall</h2>
<h4>Gregory Favre, ingénieur en informatique, spécialiste web.</h4>
<hr />

<p class="lead">Passionné par les technologies de l'information, je réalise des sites et des applications web depuis plus de 15 ans. Je développe, j'encadre et je conseille.</p>


<p>Durant les dernières années, j’ai concrétisé de nombreuses solutions, d’une part pour mes employeurs, le CERN, puis l’<a href="http://people.epfl.ch/gregory.favre?op=bio&lang=fr">EPFL</a>, mais également en mandat pour des PME, des associations et des indépendants. C'est dans cet esprit que j'ai fondé Beyond the Wall Sàrl.</p>

<p>En effet, j'aime partager mes connaissances, que ce soit avec mes collègues et partenaires ou devant une classe. J'aime découvrir de nouveaux horizons, comprendre les besoins et métiers de mes clients. À travers Beyond the Wall, je peux vous offrir une large palette de services tels que: 
  <ul>
    <li>l'élaboration d'une application,</li>
    <li>le conseil et l'accompagnement pour l'un de vos projets existants,</li>
    <li>l'analyse et l'amélioration de vos interfaces utilisateur,</li>
    <li>l'hébergement de vos sites et applications,</li>
    <li>la formation d'adultes.</li>
  </ul>
</p>



<p class="text-center"><a href="{% static 'resume-Gregory-Favre.pdf' %}" class="btn btn-outline-inverse btn-lg"><span class="icon-file-pdf"></span> CV complet</a></p>
