{% load staticfiles %}
{% load sekizai_tags %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'ico/favicon.png">
    <title>{% block title %}Beyond the Wall - développement informatique sur mesure{% endblock title %}</title>


    <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>


    <script src="{% static 'js/Chart.js' %}"></script>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    
    
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.js' %}"></script>
      <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#gn-menu">
      <!-- ========== MAIN MENU ========== -->
    <div class="container">
        <ul id="gn-menu" class="gn-menu-main">
            <li class="gn-trigger">
                <a class="gn-icon gn-icon-menu"><span class="icon-menu"></span><span class="hidden">Menu</span></a>
                <nav class="gn-menu-wrapper">
                    <div class="gn-scroller">
                        <ul class="gn-menu">
                            <li><a href="#home" class="gn-icon smoothScroll"><span class="icon-home"></span> Accueil</a></li>
                            <li><a href="#about" class="gn-icon smoothScroll"><span class="icon-profile"></span> À propos</a></li>
                            <li><a href="#portfolio" class="gn-icon smoothScroll"><span class="icon-image"></span> Réalisations</a></li>
                            <li><a href="#blog" class="gn-icon smoothScroll"><span class="icon-newspaper"></span> Blog</a></li>
                            <li><a href="#contact" id="contact-link" class="gn-icon  smoothScroll"> <span class="icon-mail2"></span> Contact</a></li>
                        </ul>
                    </div><!-- /gn-scroller -->
                </nav>
            </li>
            <li><a href="#home" class="smoothScroll">Beyond the Wall</a></li>
        </ul>
    </div><!-- /container -->

    <!-- ========== HEADER SECTION ========== -->
    <section id="home" name="home"></section>
    <div id="headerwrap">
        <div class="container">
            <div class="col-lg-8">
            <h1>Je crée des solutions informatiques sur mesure.</h1>
            </div>
            <div class="col-lg-4">
            </div>
        </div><!-- /container -->
    </div><!-- /headerwrap -->


    <!-- ABOUT SECTION -->
    <section id="about" name="about"></section>
    <div class="container about">
        <div class="col-lg-6 col-lg-offset-3">{% include "about.html" %}</div>
    </div>

    <div id="testimonial">
      <div class="container">{% include "definitions.html" %}</div>
    </div>

    
    <div id="skills-map">                      
      <div class="container">{% include "map.html" %}</div>
    </div>
    
    <section id="portfolio" name="portfolio"></section>
    <div id="foliowrap">
      <div class="container">{% include "projects.html" %}</div>
    </div>
    
    
    <section id="contact" name="contact"></section>
    <div id="footerwrap">
      <div class="container">
        <div class="col-lg-5" itemscope itemtype="http://schema.org/LocalBusiness">
          <h3>Adresse</h3>
          <p>
            <h4 itemprop="name">Beyond the Wall SàRL</h4>
            <span itemprop="founder" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Gregory Favre</span></span><br/>
            <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <span itemprop="streetAddress">Rue de Riant-Coteau 134</span><br/>
              <abbr itemprop="addressCountry" title="Switzerland">CH</abbr>-<span itemprop="postalCode">1196</span> <span itemprop="addressLocality">Gland</span><br/>
            </address>
            Tél: <a href="tel:+41 79 599 09 06" itemprop="telephone">+41 79 599 09 06</a>
          </p>
          <h3>Vie numérique</h3>
          <p>
             <a href="mailto:info@beyondthewall.ch" itemprop="email"><span class="icon-mail"></span> email</a><br />
             <a href="http://www.twitter.com/FavreGregory"><span class="icon-twitter"></span> Twitter</a><br />
             <a href="https://www.linkedin.com/in/gregoryfavre"><span class="icon-linkedin"></span> LinkedIn</a><br />
             <a href="https://github.com/gfavre"><span class="icon-github2"></span> GitHub</a>
          </p>
        </div>
            
            <div class="col-lg-7">
                <h3>Me contacter</h3>
                <br>
                <form id="contact-form" action="{% url 'contact_form' %}" method="post">{% csrf_token %}
                  <div class="form-group">
                    <label for="name">Votre nom</label>
                    <input type="name" name="name" class="form-control" id="name" placeholder="Votre nom" required>
                  </div>
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="nom@domaine.ch" required>
                  </div>
                  <div class="form-group">
                      <label for="message">Votre message</label>
                      <textarea class="form-control" name="body" rows="3" id="message" required></textarea>
                  </div>
                  <br>
                  <button type="submit" class="btn-large btn-theme">Envoyer ce message</button>
                </form>
            </div>
        
        </div>
    
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/retina.js' %}"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script> 
    <script src="{% static 'js/gnmenu.js' %}"></script>
    <script>
        window.menu = new gnMenu( document.getElementById( 'gn-menu' ) );
    </script>  
    <script>
$(document).ready(function(){
    $()
        $('.carousel').carousel({ interval: 5500});
        $('#contact-link').click(function(){
            $('#name').focus();
        });
        
        $('#contact-form').validate({
        rules: {
          name: {
            minlength: 2,
            required: true
          },
          email: {
            required: true,
            email: true
          },
          message: {
            minlength: 2,
            required: true
          }
        },
        
        messages: {
            name: "Ce champ est obligatoire",
            body: "Ce champ est obligatoire",
            email: "Merci d'entrer une adresse email valide",
       
        },
        
        
            highlight: function(element) {
                $(element).closest('.control-group').removeClass('success').addClass('error');
            },
            success: function(element) {
                element
                .text('OK!').addClass('valid')
                .closest('.control-group').removeClass('error').addClass('success');
            }
      });

        
});
    </script>
    
    <script src="{% static 'js/jquery.subwayMap.js' %}"></script>
    <script>
        $(".subway-map").subwayMap();
    </script>
    
    {% render_block extra_js %}

  </body>
</html>

