<div class="bs-example">
  <div id="carousel-example-generic" class="carousel slide bs-docs-carousel-example">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <h3>Je développe, des applications web à destination du grand public, des professionnels et des entreprises.</h3>
      </div>
      <div class="item">
        <h3>Je conseille, encadre, et participe à vos projets tout au long de leurs cycles de vie.</h3>
      </div>
      <div class="item">
        <h3>Je partage mes connaissances à travers l'enseignement et des présentations.</h3>
      </div>
    </div>
    <br />
    <br />
    <br />
  </div>
</div>
