{% extends "base.html" %}

{% load staticfiles %}
{% block title %}Merci! - Beyond the Wall - développement informatique sur mesure{% endblock title %}
{% block content %}
<div class="container">
    <ul id="gn-menu" class="gn-menu-main hidden-print">
        <li class="gn-trigger">
            <a class="gn-icon gn-icon-menu" href='/'><span class="icon-menu"></span><span class="hidden">Menu</span></a>
        </li>
        <li><a href="/" class="smoothScroll">Beyond the Wall</a></li>
    </ul>
</div>

<section id="home" name="home"></section>
<div id="headerwrap" class="hidden-print">
    <div class="container">
        <div class="col-lg-8">
        <h1>Merci!</h1>
        <h2>J'ai bien reçu votre message et vous recontacterai dès que possible</h2>
        </div>
        <div class="col-lg-4">
        </div>
    </div><!-- /container -->
</div>
<div class="container">
  <div class="row"  itemscope itemtype="http://schema.org/LocalBusiness">
    <div class="col-sm-6">
      <h3>Adresse</h3>
      <p>
        <h4 itemprop="name">Beyond the Wall SàRL</h4>
        <span itemprop="founder" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Gregory Favre</span></span><br/>
        <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress">Rue de Riant-Coteau 134</span><br/>
          <abbr itemprop="addressCountry" title="Switzerland">CH</abbr>-<span itemprop="postalCode">1196</span> <span itemprop="addressLocality">Gland</span><br/>
        </address>
        Tél: <a href="tel:+41795990906" itemprop="telephone">+41 79 599 09 06</a>
      </p>
    </div>
    <div class="col-sm-6">
    <h3>Vie numérique</h3>
    <p>
       <a href="mailto:info@beyondthewall.ch" itemprop="email"><span class="icon-mail"></span> email</a><br />
       <a href="http://www.twitter.com/FavreGregory"><span class="icon-twitter"></span> Twitter</a><br />
       <a href="https://www.linkedin.com/in/gregoryfavre"><span class="icon-linkedin"></span> LinkedIn</a><br />
       <a href="https://github.com/gfavre"><span class="icon-github2"></span> GitHub</a>
    </p>
    </div>
  </div>
</div>

<!-- /headerwrap -->
{% endblock content %}
