body {
  padding-top: 50px;
  background-color: $neutral-color;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}
h2 {
  font-size: 2.1875em;
  text-align: center;
  margin-bottom: 1em;

}

h3 {
  font-size: 1.25em;
  text-align: left;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

/* Links */
a {
    color: $primary-color;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: $contrast-color;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
li {
    margin-bottom: .33em;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */


.text-section {
	padding: 3em 15px 3em 15px;
    h2 {
	  font-size: 2.1875em;
	  text-align: center
    }
    h3 {
	  font-size: 1.25em;
	   text-align: left;
    }
    
    h4 {
	  font-size: .875em;
	  color: $contrast-color;
	  font-weight: 700;
	  text-align: center;
    }
    a {
        color: $contrast-color;
    }
}

#headerwrap {
	background: url(../img/header-bg.jpg) no-repeat center top;
	margin-top: -10px;
	padding-top:120px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    h1 {
        font-weight: 300;
        color: white;
        font-size:2.5em;
    }
    h2 { color: white;}
    @media screen and (min-width: 768px) {
        h1 {
            font-size: 70px;
        }
    }
}

.inverted {
    background-color: $primary-color;
    color: white;
    a {
        color: $neutral-color;
    }
    h2, h3, h4 {
        color: white;
    }
    a:hover{
        color: white;
    }
    
}

#about, #why-me {
    h2{
        margin-bottom: 0;
    }
}

#foliowrap {
	//background: url(../img/foliowrap.jpg) no-repeat center top;
	//background-color: $primary-color;
	margin-top: 0;
	padding-top:3em;
	/*
	background-attachment: relative;
	background-position: center center;
	min-height: 800px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
*/
    h3 {
        font-size: 35px;
        text-align: center;
    }
}


#skills-map {
    color: white;
    page-break-inside: avoid;
	padding: 3em 15px 3em 15px;    
}

#footerwrap {
    page-break-inside: avoid;
	margin-top: 0;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: left;
	
	h3 { font-size: 28px; }
	p { font-size: 18px; }
}




.label {
	padding-bottom: 15px;
}

.centered {
	text-align: center;
}


/* ==========================================================================
   Image Mask
   ========================================================================== */

.modal-header {
	background-color: $contrast-color;
	color: white;
}

.modal-title {
	color: white;
	    z-index:6001 !important;

}
.modal-dialog {
    z-index:6001 !important;
}


.grid {
  figure {
	margin: 0;
	position: relative;
    
    img {
	  width: 100%;
	  display: block;
	  position: relative;
    }
  }

  figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	color: #fff;
	background: $contrast-color;
    
    h5 {
	  margin: 0;
	  padding: 0 0 5px 20px;
	  color: #fff;
	  font-weight: 700;
	  text-align: left;
	  letter-spacing: 2px;
    }
    
  }
}


/* Caption Style */
.mask {
  figure { 
    overflow: hidden; 
    img {
	  -webkit-transition: -webkit-transform 0.4s;
	  -moz-transition: -moz-transform 0.4s;
	  transition: transform 0.4s;
    }
  }

  figcaption {
	height: 50px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
	
	a {
	  position: absolute;
	  top:10px;
	  bottom: 10px;
	  right: 30px;
    }
  }
}


.no-touch .mask figure:hover img,
.mask figure.cs-hover img {
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}

.no-touch .mask figure:hover figcaption,
.mask figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}


/* ==========================================================================
   Blog
   ========================================================================== */

.accordion-heading {
  margin-top: 30px;
  padding-bottom: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  
  plus {
    font-size: 30px;
    font-weight: 700;
    color: $contrast-color;
    font-family: 'Raleway', sans-serif;
    vertical-align: middle;
  }
  
  date {
	background-color: #2f2f2f;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	padding: 8px; 
  }
  
  a {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	color: #333;
  }
  
  a:hover {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	color: $contrast-color;
	text-decoration: none;
  }

}

.accordion-inner h4 {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
    line-height: 28px;
    margin-bottom: 25px;
	
}

/* ==========================================================================
   Forms
   ========================================================================== */

.form-control {
	padding: 20px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

.form-group label {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

.btn-theme {
	color: #fff;
	background-color: $contrast-color;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-weight: 700;
	border-radius: 3px;
	border-color: transparent;
}

.btn-theme:hover {
	cursor: pointer;
	color: white;
	background-color: darken( $contrast-color, 10% ) ;
	border-color: transparent;
}