{% load staticfiles %}



<div class="col-sm-8 col-md-5 hidden-print">
    <h3>Me contacter</h3>
    <br>
    <form id="contact-form" action="{% url 'contact_form' %}" method="post">{% csrf_token %}
      <div class="form-group">
        <label for="name">Votre nom</label>
        <input type="name" name="name" class="form-control" id="name" placeholder="Votre nom" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="nom@domaine.ch" required>
      </div>
      <div class="form-group">
          <label for="message">Votre message</label>
          <textarea class="form-control" name="body" rows="3" id="message" required></textarea>
      </div>
      <br>
      <button type="submit" class="btn-large btn-theme">Envoyer ce message</button>
    </form>
</div>

<div class="col-sm-4 col-md-5  col-md-offset-1" itemscope itemtype="http://schema.org/LocalBusiness">
  <h3>Adresse</h3>
  <p>
    <h4 itemprop="name">Beyond the Wall Sàrl</h4>
    <span itemprop="founder" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Gregory Favre</span></span><br/>
    <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="streetAddress">Route de Châtel 19</span><br/>
      <abbr itemprop="addressCountry" title="Switzerland">CH</abbr>-<span itemprop="postalCode">1272</span> <span itemprop="addressLocality">Genolier</span><br/>
    </address>
    Tél: <a href="tel:+41775103085" itemprop="telephone">+41 77 510 30 85</a>
  </p>
  <h3>Vie numérique</h3>
  <p>
     <a href="mailto:info@beyondthewall.ch" itemprop="email"><span class="icon-mail"></span> info@beyondthewall.ch</a><br />
     <a href="http://www.twitter.com/FavreGregory"><span class="icon-twitter"></span> @FavreGregory</a><br />
     <a href="https://www.linkedin.com/in/gregoryfavre"><span class="icon-linkedin"></span> LinkedIn</a><br />
     <a href="https://github.com/gfavre"><span class="icon-github2"></span> GitHub</a><br />
     <a href="{% url 'vcard' %}"><span class="icon-vcard"></span> vCard</a><br />

  </p>
</div>