{% load staticfiles %}

<h2>Quelques projets</h2>
<br>
<br>
<div class="row">    
  <div class="col-md-5 hidden-print">
    <div class="grid mask">
      <a data-toggle="modal" href="#modal-kepchup">
      <figure>
        <img class="img-responsive" src="{% static 'img/portfolio/kepchup.jpg' %}" alt="">
        <figcaption>
          <h5>Kepchup - Sport scolaire facultatif, Coppet</h5>
        </figcaption>
      </figure>
      </a>
    </div>
    <br>
  </div>
  
  <div class="modal fade show-print" id="modal-kepchup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Sport scolaire facultatif</h4>
        </div>
        <div class="modal-body">
          <p><img class="img-responsive" src="{% static 'img/portfolio/kepchup.jpg' %}" alt="Capture du site kepchup.ch"></p>
          <p>Le groupement scolaire de Coppet avait besoin d'un moyen simple pour gérer les inscriptions au sport scolaire facultatif. Ce site a été utilisé par plus de 450 familles. <br />Technologies: Django, AngularJS, Bootstrap.</p>
          <p class="text-center"><a href="http://www.kepchup.ch"><span class="icon-arrow-right"></span> Sport scolaire facultatif du groupement scolaire de Coppet.</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
                
  <div class="col-md-5 col-md-offset-2 hidden-print">
    <div class="grid mask">
      <a data-toggle="modal" href="#modal-vioget">
      <figure>
        <img class="img-responsive" src="{% static 'img/portfolio/vioget.jpg' %}" alt="" />
        <figcaption>
          <h5>Vioget Pêche, Nyon</h5>
        </figcaption>
      </figure>
      </a>
    </div>
    <br>
  </div>
  
  <div class="modal fade" id="modal-vioget" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Vioget Pêche</h4>
        </div>
        <div class="modal-body">
          <p><img class="img-responsive" src="{% static 'img/portfolio/vioget.jpg' %}" alt="Capture du site vioget-peche.ch"></p>
          <p>Eric Vioget possède une boutique d'articles de pêche. Il m'a contacté parce qu'il n'arrivait plus à utiliser sa boutique en ligne. J'ai récupéré sa base de plusieurs milliers d'articles et l'ai transférée vers un nouveau site, utilisant un outil plus moderne et pratique (de pgshop pro à prestashop, qui est un standard actuel du marché).<br />Technologies: Prestashop, MySQL et Selenium.</p>
          <p class="text-center"><a href="http://www.vioget-peche.ch"><span class="icon-arrow-right"></span> Vioget Pêche</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-5 hidden-print" >
    <div class="grid mask">
      <a data-toggle="modal" href="#modal-cosadoca">
      <figure>
        <img class="img-responsive" src="{% static 'img/portfolio/cosadoca.jpg' %}" alt="">
        <figcaption>
          <h5>Cosadoca, Lausanne</h5>
        </figcaption>
      </figure>
      </a>
    </div>
    <br>
  </div>
  <div class="modal fade" id="modal-cosadoca" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Cosadoca</h4>
        </div>
        <div class="modal-body">
          <p><img class="img-responsive" src="{% static 'img/portfolio/cosadoca.jpg' %}" alt="Capture du site cosadoca.ch"></p>
          <p>Le <em>consortium pour le sauvetage documentaire en cas de catastrophe</em> devait refaire un site vieillissant qu'il était impossible de mettre à jour. Le nouveau site est relié aux systèmes d'informations de l'université de Lausanne et de l'EPFL et offre une édition simple, une gestion du fonds de photos et de ressources documentaires.<br />Technologies: Django-cms, haystack.</p>
          <p class="text-center"><a href="http://www.cosadoca.ch"><span class="icon-arrow-right"></span> Cosadoca</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-5 col-md-offset-2 hidden-print">
    <div class="grid mask">
      <a data-toggle="modal" href="#modal-sdis">
      <figure>
        <img class="img-responsive" src="{% static 'img/portfolio/sdis-gland.jpg' %}" alt="">
        <figcaption>
          <h5>SDIS Gland région</h5>
        </figcaption>
      </figure>
      </a>
    </div>
    <br>
  </div>

 <div class="modal fade" id="modal-sdis" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">SDIS Gland Région</h4>
        </div>
        <div class="modal-body">
          <p><img class="img-responsive" src="{% static 'img/portfolio/sdis-gland.jpg' %}" alt="Capture du site sdisglandregion.ch"></p>
          <p>Le Service de Défense Incendie et de Secours de Gland-région gère ses données d'interventions et d'effectifs via une application métier appelée ECADIS. Les pompiers souhaitaient que l'effectif, ainsi que les calendriers de chacun soient accessibles via le site web dans une zone protégée. J'ai créé une passerelle entre les deux logiciels, de sorte que le site soit toujours à jour.<br />Technologies: Joomla.</p>
          <p class="text-center"><a href="http://www.sdisglandregion.ch"><span class="icon-arrow-right"></span> SDIS Gland Région</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
  
</div>